<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sz.leo.androidnote">

    <application
        android:name=".XApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".chapter03.CustomTitleActivity"></activity>-->
        <!-- <activity android:name=".chapter11.annotations.TestAnnotationActivity"></activity> -->
        <activity android:name=".chapter03.CustomTitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter07.sqlite.OrderActivity" />
        <activity
            android:name=".chapter01.ActivitySingleTop"
            android:launchMode="singleTop" />
        <activity android:name=".chapter01.OtherTopActivity" />
        <activity
            android:name=".chapter01.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity android:name=".chapter01.OtherTaskActivity" />
        <activity
            android:name=".chapter01.SingleInstance"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.sz.leo.singleinstance" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- <activity android:name=".chapter04.AnimationActivity"/> -->
        <activity android:name=".chapter04.Animation2Activity" />
        <activity android:name=".chapter04.recyclerView.RecyclerViewActivity" />
        <activity android:name=".chapter04.recyclerView.GridRecyclerViewActivity" />
        <activity android:name=".chapter04.customView.FailingBallActivity" /> <!-- <activity android:name=".chapter06.photoWall.PhotoWallActivity" /> -->
        <activity android:name=".chapter09.retrofit.MovieActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>